#root,html,body{
  height: 100vh;
}
body{
  margin: 0;
  background-color:rgb(9, 4, 33) ;


}
*{
  box-sizing: border-box;
  /* count width and height it considers borders and margins  */
}
html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  width: 7px;
  /* height:1px; */
}
::-webkit-scrollbar-track{
   background-color:#fffdfd;
}
::-webkit-scrollbar-thumb{
   background-color:#a5a5a5;
}